<div class="login main">
  <form [formGroup]="loginForm" method="post" (ngSubmit)="login(loginForm.value)">
    <div class="d-flex flex-column login container">
      <div class="d-flex align-items-center login containerCenter">
        <div class="d-flex justify-content-end login containerEnd">
          <div class="card w-50 login backgroundColorCard">
            <div class="card-body">
              <h2 class="login">
                <i class="fas fa-unlock-alt"></i> Login Page
              </h2>
              <br />
              <div>
                <div class="form-group">
                  <label htmlFor="exampleInputusername1">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    aria-describedby="usernameHelp"
                    placeholder="Enter email"
                    formControlName="email"
                  />
                  <!-- <small class="text-danger">{this.state.errorName.email}</small> -->
                </div>
                <label htmlFor="exampleInputusername1">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  aria-describedby="usernameHelp"
                  placeholder="Enter password"
                  formControlName="password"
                />
                <!-- <small class="text-danger">{this.state.errorName.password}</small> -->
              </div>
              <br>
              <div>
                <button
                  type="submit"
                  class="btn btn-primary login inputButtonawesome-button-sm"
                >
                  <i class="fas fa-sign-in"></i> Login
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

