<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<h1 class="text-center">{{title}}</h1>
<p>{{arr}}</p>
<p>{{data}}</p>
<p>{{obj.traineeName}}</p>
<p>{{bool}}</p>

<button type="button" class="btn btn-primary"
[disabled]="!isDisabled" (click)="onButtonClick()">Get Started</button>
{{showMessage}}

<input
    type="text"
    class="form-control"
    id="name"
    (input)="onKeyPress($event)">

    <div class="row">
      <div class="col">
          <p>{{ name }}
      </div>
  </div>

  {{numberCount}}
  <button (click)="incrementNumber()">INCREMENT</button>
  <button (click)="addDataName()">Send data</button>
<app-pages [parentData]="numberCount" [nameFromParent]="dataParentName" (newItemEvent)="addDataFromChild($event)"></app-pages>

<p>number count parent</p>
{{numberCount}}
